<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>
    idk how to show 5 posts, and next 5 posts...succinctly. like in one get responder function.
  </p>
</body>

</html>