<!DOCTYPE html>
<html>

<head>
  <title>
    Login
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>


    <h1>
        WHo u
    </h1>
    <form name="login" method="POST" action="login">
        <input type="text" name="username" size="35" placeholder="Username"/> </br>
        <input type="password" name="password" size="35" placeholder="Shh.. I'm not collecting ur data"/>
        <input type="text" name="redirect" size="35" placeholder="Optional redirect"/> </br>
        <button type="submit">Login</button>
    </form>


</body>

</html>